<div class="card mt-3">
    <div class="card-header">
        <h4>Criar novo tipo</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="tipo.nome">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" class="form-control" name="descricao" [(ngModel)]="tipo.descricao"></textarea>
            </div>
            <div class="form-group">
                <button (click)="save()" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</div>